asgiref==3.7.2
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
cryptography==41.0.3
Django==4.2.4
idna==3.4
josepy==1.13.0
mozilla-django-oidc==3.0.0
pip==22.3.1
psycopg2==2.9.7
pycparser==2.21
pyOpenSSL==23.2.0
requests==2.31.0
setuptools==65.5.1
sqlparse==0.4.4
urllib3==2.0.4
wheel==0.38.4
